<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
	    <div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style=" font-size:18px;font-weight:300; margin-top:15px;"> EVERYTIME <span style="font-family:sans-sarif;"> stuff </span></a>
		</div> 
		
		<div  id="navbar" class="navbar-collapse collapse ">
        <!--  <ul class="nav navbar-nav navbar-right">
		    <li><a href="#">Contact us</a></li>
			<li><a href="#">Settings</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Help</a></li>
           </ul>  -->
		   <div class="col-sm-3 col-md-3">
			<form class="navbar-form" role="search" id="navBarSearchForm">
			
				<input type="text"  class="form-control" placeholder="What are you looking for?" name="q">
				<input type="submit" value>
				
			
			</form>
		</div>
     
        </div>
		
	</div>
</nav> 

<!--

<div class="header">
      <div class="ffix-header removeAbc head-down">
	     <div class="wrapper">
		    <div class="upLinks">
			   <div class="uprLinks">
			      <ul>
				 <!--    <li id="sign-in"><a href="#">Signup</a>
					    <div class="hoverContent">
						   <div class="actLinks">
						      <div class="actLink-heading">
							    <a href="#"><span class="user-icn"></span>Log In/Register</a>
							  </div>
							  <ul>
							     <li><a href="#">My order</a></li>
								 <li><a href="#">My order</a></li>
								 <li><a href="#">My return</a></li>
								 <li><a href="#">Wishlist</a></li>
								 <li><a href="#">Profile</a></li>
								 <li><a href="#">My order</a></li>
							  </ul>
						   </div>
						</div>
					 </li>
					 <li id=""><a href="#">Log In</a></li>   
				  </ul>
			   </div>
			</div>
		    <div class="logo">
			<a href="#" style="color:white; font-size:18px;">
			<!--<img src="assets/images/logo2.png" style="height:52px; margin-top:-4px; margin-left:6px;">  
			EveryTimeStuff
			</a>  
		
			</div>
		    <div class="search">
			   <span id="search">
			      <input type="text" id="autocomplete" value placeholder="What are you looking for?" spellcheck="false">
				  <input type="submit" value>
			   </span>
			</div>
			<div class="btmLinks">
				<ul>
				   <li><a href="#" class="wishlist-ic"></a></li>
				   <li class="qcart"><a href="#" class="cart-ic"><span style="display:none;" class="cart-ic-count"></span></a>
					 <div class="hoverContent"></div>
				   </li>
				</ul>
			</div>  
		 </div>
	  </div>
   
   </div>
   --> 
 <!--       Navigation         --> 
<div class="main_navigation">
	
	   <div class="wrapper">
	      <ul>
	       <li><a href="#">Men</a></li>
		   <li><a href="#">Women</a></li>
		   <li><a href="#">Mobiles</a></li>
		   <li><a href="#">Home & Kitchen</a></li>
		   <li><a href="#">Baby & Kids</a></li>
		   <li><a href="#">Electronics</a></li>
          </ul>

	  

	</div>
</div> 

<!-- body-->

<router-outlet></router-outlet>

                
               





