[class*='col-'] {
  padding-top:15px;
}
@media(min-width:1200px){
   .container{
   width:1349px;
   margin-top:65px;
   padding-left:35px;
   padding-right:35px;
   background-color:#fff;
   }
}

a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



@media (max-width: 600px) {}
  
@media (max-width: 1024px) {
  
}

/* body */

